{{#partial "contenido"}}
<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<title>Empresas</title>
</head>

<body>

	<form action="/empresas" method="POST">
		
		<div class="form-group">		
			<label for="nombre">Buscar cuentas de empresas</label>
			<select name="nombreEmpresa" class="custom-select">
				<option value="-1">Seleccione una empresa</option>
				{{#each empresas}}
				<option value= {{nombre}}> {{nombre}}</option>
				{{/each}}
			</select>
		</div>

		<div class="form-group">
			<label for="anioMin">Año inicial de busqueda</label>
			<input type="text" placeholder="Ingrese un año" name="anioMin">
		</div>
	
		<div class="form-group">		
			<label for="anioMax">Año final de busqueda</label>
			<input type="text" placeholder="Ingrese un año" name="anioMax">
		</div>
		
		<div class="form-group">
			<input class="btn btn-primary btn-lg" type="submit" value="Buscar">
		</div>

	<div class="table-responsive">
		<h3>Cuentas encontradas</h3>
	<table class="table">
		<tr>
			<th>Nombre</th>
			<th>Año</th>
			<th>Monto</th>
		</tr>
		{{#each cuentas}}
		<tr>
			<td>{{nombre}}</td>
			<td>{{anio}}</td>
			<td>{{monto}}</td>
		</tr>
		{{/each}}
	</table>
	</form>
</body>
{{/partial}}
{{>layout.hbs}}