{{#partial "contenido"}}
<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<title>Metodologias</title>
</head>

<body>
	<div>
	<h3>Metodologia</h3>
	<form action ="/metodologias" method = "POST">
		
		<div class="form-group">		
			<label for="nombre">Metodologias</label>
			<select name="nombreMetodologia" class="custom-select">
				<option value="-1">Seleccione una metodologia</option>
				{{#each metodologias}}
				<option value= {{nombre}}> {{nombre}}</option>
				{{/each}}
			</select>
		</div>

			<div class="form-group">		
			<label for="nombre">Empresas</label>
			<select name="empresas" class="custom-select" size="5" multiple>
				{{#each empresas}}
				<option value= {{nombre}}> {{nombre}}</option>
				{{/each}}
			</select>
		</div>

	<div class="table-responsive">
		<h3>Ranking de empresas</h3>
	<table class="table">
		<tr>
			<th>Empresa</th>
			<th>Año de fundacion</th>
			<th>Puntuacion</th>
		</tr>
		{{#each empresasOrdenadas}}
		<tr>
			<td>{{nombre}}</td>
			<td>{{anioFundacion}}</td>
			<td>{{puntuacion}}</td>
		</tr>
		{{/each}}
	</table>
	</div>	

		<div class="form-group">
			<input class="btn btn-primary btn-lg" type="submit" value="Aplicar">
		</div>
	</form>
	</div>

	<div>
    	<a href="metodologias/nueva"><input class="btn btn-primary btn-lg" type="submit" value="Crear metodologia"></a>
  	</div>

</body>
{{/partial}}
{{>layout.hbs}}