{{#partial "contenido"}}

<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<title>Indicadores</title>
</head>

<body>
	<div>
	<h3>Indicadores</h3>
	<form action="/indicadores" method="POST">
		<div class="form-group">		
			<label for="nombre">Indicadores</label>
			<select name="nombreIndicador" class="custom-select">
				<option value="-1">Seleccione un indicador</option>
				{{#each indicadores}}
				<option value= {{nombreIndicador}}> {{nombreIndicador}}</option>
				{{/each}}
			</select>
		</div>

		<div class="form-group">		
			<label for="nombre">Empresas</label>
			<select name="nombreEmpresa" class="custom-select">
				<option value="-1">Seleccione una empresa</option>
				{{#each empresas}}
				<option value= {{nombre}}> {{nombre}}</option>
				{{/each}}
			</select>
		</div>

		<div class="form-group">
			<label for="nombre">Año inicial</label>
			<input type="text" placeholder="Ingrese un año" name="anio">
		</div>

	<div class="container">
		<label for="nombre">Empresa:</label>
		<option value= {{nombreEmpresa}}> {{nombreEmpresa}}</option>
	</div>
	<p></p>
	<div class="container">
		<label for="nombre">Indicador:</label>
		<option value= {{nombreIndicador}}> {{nombreIndicador}}</option>
	</div>
	<p></p>
		<div class="container">
		<label for="nombre">Año:</label>
		<option value= {{anio}}> {{anio}}</option>
	</div>
	<p></p>
	<div class="container">
		<label for="nombre">Resultado:</label>
		<option value= {{resultado}}> {{resultado}}</option>
	</div>
	<p></p>
		<div class="form-group">
			<input class="btn btn-primary btn-lg" type="submit" value="Aplicar">
		</div>
	</form>
	</div>

	<div>
    	<a href="indicadores/nuevo"><input class="btn btn-primary btn-lg" type="submit" value="Crear indicador"></a>
  	</div>
<p></p>
	  <div>
    	<a href="../"><input class="btn btn-primary btn-lg" type="submit" value="Ir al menu principal"></a>
  	</div>
</body>
{{/partial}}
{{>layout.hbs}}


